header{
    @include colorFondo (rgba(255, 255, 255, 0.985))
}
.indexHeaderImg{
    max-width: 125px;
    max-height: 125px;
}
.nav-item{
    border-radius: 5px;
}
.nav-item:hover{
    @include colorFondo ($color-fondo);
    transition: background-color 0.2s ease-in-out;
}