.indexMainImg{
    height: $alto-total;
}
.divIndex{
    height: $alto-total;
    position: relative;
    overflow: hidden
}    
.divIndex img{
    transition: transform 1s ease-in-out
}
.divIndex .texto{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.divIndex:hover img{
    transform: scale(1.5);
    filter: grayscale(100%);
}
.divIndex:hover .texto{
    opacity: 1;
    color: white
}
.indexEventos{
    @include colorFondo ($color-fondo);
    margin-top: 35px;
}
.imgEstudiantesIndex{ 
    width: $ancho-total;
    height: $alto-total;
}
        
