$font-family: 'Cinzel', serif;
$ancho-total: 100%;
$alto-total: 50vh; 
$color-fondo: rgba(145, 145, 145, 0.316);



$altos: (
    alto-100: 100vh,
    alto-90: 90vh,
    alto-80: 80vh,
    alto-75: 75vh,
    alto-60: 60vh,
    alto-50: 50vh,
    alto-40: 40vh,
    alto-30: 30vh,
    alto-20: 20vh 
);